[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
requests = "*"
apispec = "*"
apispec-webframeworks = "*"
marshmallow = "*"
flask-restful = "*"
flasgger = "*"
flask-mysqldb = "*"
mysql-connector-python = "*"
flask-restx = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
